@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  font-family: "Inter", sans-serif;
  scrollbar-width: thin;
}