@import url("main.css");
@import url("_menu.css");
@import url("_skill.css");
@import url("_project.css");

/* Estilização do conteúdo principal */
/* Seção Sobre */
#about {
  width: 100%;
  height: auto;
  padding: 0 1rem;
  margin-top: 5rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.about__perf {
  width: 150px;
  height: 150px;
}

.about__perf > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.5rem double var(--border-color);
  border-radius: 50%;
}

.about__info {
  width: 100%;
  height: fit-content;
  text-align: center;
  color: var(--title-color);
  text-shadow: 1px 1px 1px var(--btn-text-color);
}

.about__info > h2 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.about__info > h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.about__info > span {
  width: auto;
  height: fit-content;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.about__education {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;

  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
}

.education__academy {
  text-align: center;
  padding: 1rem 0.5rem;
}

.education__academy > h3 {
  color: var(--title-color);
  letter-spacing: 0.2rem;
}

.education__academy > h5 {
  font-size: 0.75rem;
}

.education__academy > span {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.8rem;
}

.about__buttons {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
}

.about__buttons > a {
  min-width: 155px;
  width: 25%;
  height: auto;
  padding: 0.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);

  border: 3px solid var(--border-color);
  border-radius: 1rem;

  box-shadow: 0px 1px 5px 1px var(--border-color);
  transition: 0.4s ease-in-out;
}

.about__buttons > a:hover {
  transform: scale(1.1);
}

.about__buttons > a:active {
  box-shadow: inset 1px 1px 1px 1px var(--bg-color);
}

/* Seção de Habilidades */
#skills {
  width: 100%;
  height: auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;

  text-align: center;
}

#skills > h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--title-color);
  text-shadow: 1px 1px 1px var(--btn-text-color);
}

/* Seção de Projetos */
#projects {
  width: 100%;
  height: auto;

  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#projects > h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--title-color);
  text-shadow: 1px 1px 1px var(--btn-text-color);
}

/* Seção de contatos */
#contact {
  width: 100%;
  height: auto;
  margin-top: 2rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.contact__info {
  min-width: 328px;
  width: 50%;
  height: fit-content;
  text-align: center;
}

.contact__info > h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--title-color);
  text-shadow: 1px 1px 1px var(--btn-text-color);
  margin-bottom: 0.5rem;
}

.contact__button {
  min-width: 154px;
  width: 25%;
  height: fit-content;
  padding: 0.5rem;

  background-color: var(--btn-bg-color);
  border: 3px solid var(--border-color);
  border-radius: 1rem;

  box-shadow: 0px 1px 5px 1px var(--border-color);
  transition: 0.4s ease-in;
}

.contact__button > a {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  color: var(--btn-text-color);
}

.contact__button:hover {
  transform: scale(1.1);
}

.contact__button:active {
  box-shadow: inset 1px 1px 1px 1px var(--bg-color);
}

.contact__social {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

.social__list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social__item > a {
  font-size: 1rem;
  color: var(--text-color);
}

/* Responsividade */
@media (width >= 42.5rem) {
  .about__perf {
    width: 200px;
    height: 200px;
  }

  .about__buttons > a {
    justify-content: center;
    gap: 1rem;
  }

  .skills__info {
    position: relative;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .info__item:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 49%;
  }

  .projects__info {
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: auto;
    gap: 0.5rem 1rem;
  }

  .contact__button > a {
    justify-content: center;
    gap: 0.5rem;
  }
}

@media (width >= 61.625rem) {
  body {
    gap: 0;
  }

  main {
    max-width: 61.625rem;
    margin: 0 auto;
    padding: 1rem;

    border-right: 0.3rem solid var(--border-color);
    border-left: 0.3rem solid var(--border-color);
  }

  footer {
    border-radius: 0;
  }

  .header__container {
    padding: 0.5rem 1rem;
    border-radius: 0;
  }

  .menu__list {
    width: 100%;
    justify-content: flex-start;
    gap: 2rem;
  }

  .menu__item > a {
    flex-flow: row nowrap;
    gap: 0.5rem;

    font-size: 1rem;
  }

  #menu__icon {
    font-size: 1.3rem;
  }

  .theme-toggle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  #toggle__icon {
    font-size: 1.3rem;
  }

  .about__perf {
    width: 250px;
    height: 250px;
  }

  .about__buttons > a {
    justify-content: center;
    gap: 1rem;
  }

  .education__academy {
    padding: 2.5rem 0;
  }

  .education__academy > h3 {
    font-size: 1.5rem;
  }

  .education__academy > h5 {
    font-size: 1rem;
  }

  .education__academy > span {
    font-size: 0.9rem;
  }

  .skills__info {
    max-width: 100%;
    grid-template-columns: repeat(3, 32%);
    gap: 1.2rem;
  }

  .info__item:last-child:nth-child(odd) {
    grid-column: auto;
    justify-self: auto;
    width: auto;
  }

  .projects__info {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    gap: 0.5rem;
  }

  .item__photo {
    height: 180px;
  }

  .item__buttons > a {
    width: 40%;
  }
}
